@font-face {
  font-family: 'CourierNewPSMT';
  src: url("./fonts/CourierNewPSMT.eot");
  src: url("./fonts/CourierNewPSMT.eot?#iefix") format("embedded-opentype"),
       url("./fonts/CourierNewPSMT.svg#CourierNewPSMT") format("svg"),
       url("./fonts/CourierNewPSMT.ttf") format("truetype"),
       url("./fonts/CourierNewPSMT.woff") format("woff"),
       url("./fonts/CourierNewPSMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

* :focus {
  outline: #999 solid 1px;
  box-shadow: 0 0 1px 2px #999;
}

body {
  font-family: "PT Sans", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

a {
  color: #1f5f97;
}  